@model IList<Twits.Models.Twit>

<p>There are @Model.Count twits to read.</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Twit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var twit in Model)
        {
            <tr>
                <td>@twit.CreatedOn</td>
                <td>@twit.Text</td>
            </tr>
        }
    </tbody>
</table>