@model CommunityShedMVC.ViewModels.CommunityListViewModel

@{
    ViewBag.Title = "All Communities";
}

<h2>All Communities</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Open</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var community in Model.Communities)
        {
            <tr>
                <td>@community.Name</td>
                <td><input type="checkbox" @(community.IsOpen ? "checked" : string.Empty) disabled /></td>
                <td>
                    @if (!Model.UserIsMember(community))
                    {
                        if (community.IsOpen)
                        {
                            using (Html.BeginForm("Join", "Community", new { communityId = community.Id }, FormMethod.Post))
                            {
                                <input type="submit" value="Join" class="btn btn-primary" />
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Apply", "Community", new { communityId = community.Id }, FormMethod.Post))
                            {
                                <input type="submit" value="Apply to Join" class="btn btn-primary" />
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>


</table>
